<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.kocomer.mall">

    <application>
        <activity android:name=".manager.activity.MallDeliveryListActivity"></activity>
        <activity android:name=".manager.activity.MallOrderListActivity"></activity>
        <activity android:name=".manager.activity.MallCommodityListActivity"></activity>
    </application>

</manifest>
