<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kocomer.pay">

    <application>
        <activity android:name=".activity.PayScanAlipayActivity"></activity>
        <activity android:name=".activity.PayScanWechatActivity"></activity>
        <activity android:name=".activity.PayHistoryActivity"></activity>
        <activity android:name=".activity.PayListActivity"></activity>
        <activity android:name=".activity.PayWithdrawActivity"></activity>
    </application>
</manifest>