<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kocomer.pay">

    <application>
        <activity android:name=".manager.activity.PayScanAlipayActivity"></activity>
        <activity android:name=".manager.activity.PayScanWechatActivity"></activity>
        <activity android:name=".manager.fragment.activity.PayHistoryActivity"></activity>
        <activity android:name=".manager.activity.PayListActivity"></activity>
        <activity android:name=".manager.activity.PayWithdrawActivity"></activity>
        <activity android:name=".manager.activity.PayWithdrawSettingActivity"></activity>
    </application>


</manifest>