<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.kocomer.more">

    <application>
        <activity android:name=".activity.MoreAboutActivity"></activity>
        <activity android:name=".activity.MoreFeedbackActivity"></activity>
        <activity android:name=".activity.MoreHelpActivity"></activity>
        <activity android:name=".activity.MoreVersionActivity"></activity>
        <activity android:name=".activity.MoreSecretActivity"></activity>
    </application>

    <meta-data
        android:name="UMENG_APPKEY"
        android:value="57c1366167e58e05fb002bdf" />
    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="self" />
</manifest>
