<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kocomer.wechat">

    <application>
        <activity android:name=".activity.WechatScanMemberActivity"></activity>
        <activity android:name=".activity.WechatHistoryActivity"></activity>
        <activity android:name=".activity.WechatMemberActivity"></activity>
        <activity android:name=".activity.WechatScanCardActivity"></activity>
    </application>

</manifest>