<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kocomer.wechat">

    <application>
        <activity android:name=".activity.WechatScanMemberActivity" />
        <activity android:name=".activity.WechatOperatorHistoryActivity" />
        <activity android:name=".activity.WechatMemberListActivity" />
        <activity android:name=".activity.WechatScanCardActivity" />
        <activity android:name=".activity.WechatCardListActivity" />
    </application>

</manifest>